beautifulsoup4==4.9.3
biopython==1.78
filetype==1.1.0
lxml==4.9.1
matplotlib==3.5.3
numpy==1.23.2
pandas==1.4.3
pyahocorasick==1.4.0
pyfaidx==0.7.1
pysam==0.16.0.1
pytest==7.1.2
requests==2.32.0
seaborn==0.11.2
dask==2023.5.0
